/* ================================
   Cores Personalizadas
================================ */
:root {
    --color-primary: #06546f;
    --color-secondary: #EAE932;
    --color-white: #F1F1F1;
    --color-text: #333333;
}

/* ================================
   Estilo Geral
================================ */
body {
    background-color: var(--color-white); /*lembrar de adcionar no root*/
    font-family: 'Poppins', Arial, sans-serif;
    padding-top: 100px; /* Ajuste conforme a altura do cabeçalho */
}

/* ================================
   Cabeçalho e Logo
================================ */
header {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.logo {
    max-width: 200px; /* Verificar o melhor tamanho ao finalizar projeto */
    height: auto;
}

/* ================================
   Botão "Pedir Agora"
================================ */
.btnPeca {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btnPeca:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    transform: scale(1.1); /* Efeito de hover */
}

/* ================================
   Efeito Pulsar para o Botão
================================ */
.pulsating-button {
    animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* ================================
   Seção Hero / Texto do Cabeçalho
================================ */

.hero {
    padding: 10px 0;
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* Estilo para o banner no desktop */
.custom-hero-banner {
    background: url('img/bannerTotal.jpg') no-repeat center center;
    background-size: cover;
    height: 110vh; /* Defina uma altura adequada para o desktop */
    display: block; /* Garante que o banner apareça no desktop */
}

.texto-cabecalho {
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary);
}

.paragrafo-cabecalho {
    font-size: 1.2rem;
    color: var(--color-primary);
}

.maistxt {
    font-size: 5rem;
    color: var(--color-secondary);
}

.h2vantagens, .h2beneficios {
    font-size: 2.5rem;
    color: var(--color-primary);
    font-weight: bold;
}

.h2credenciada{
    font-size: 2.5rem;
    color: var(--color-secondary);
    font-weight: bold;
}

.vantagens .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.text-content {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-text);
    padding: 15px;
}

.totaltxt{
    color: var(--color-primary);
}

.credenciados{
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

@media (max-width: 768px) {
    .vantagens .container {
        flex-direction: column;
        text-align: center;
    }

    .shadow-custom {
        margin-bottom: 10px;
    }

    .text-content {
        padding: 10px;
    }
}

/* ================================
   Cartões de Benefícios
================================ */
.benefit-card {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, transform 0.3s;
    min-height: 250px;
    margin-bottom: 30px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.benefit-card:hover {
    transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}

.benefit-title {
    font-size: 15px;
    color: var(--color-primary);
    font-weight: bold;
    margin: 15px 0 10px;
}

.benefit-text {
    color: var(--color-primary);
    font-size: 14px;
}

.icon-img {
    width: 50px;
    margin-bottom: 10px;
}

.imgsesc{
    max-width: 150px;
}

/* ================================
   Seção Missão, Visão e Valores
================================ */
.missao-visao-valores {
    background-color: var(--color-white);
    padding: 60px 0;
}

.missao-visao-valores .container {
    max-width: 1200px;
}

.missao-visao-valores .row {
    display: flex;
    justify-content: space-between;
}

.missao-visao-valores .col-md-4 {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.missao-visao-valores .col-md-4:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Aumenta a intensidade da sombra */
}

.missao-visao-valores h3 {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 20px;
}

.missao-visao-valores p, .missao-visao-valores li {
    font-size: 1rem;
    color: var(--color-secondary);
    line-height: 1.6;
}

.missao-visao-valores ul {
    padding-left: 0;
    list-style-type: none;
}

.missao-visao-valores ul li::before {
    content: "\2713";
    margin-right: 10px;
    color: var(--color-secondary);
    font-weight: bold;
}

/* ================================
   Breakpoints
================================ */

/* Mobile pequeno (até 576px) */
@media (max-width: 576px) {
    /* Estilos para celulares pequenos */
    .texto-cabecalho {
        font-size: 2rem;
    }

    .maistxt {
        font-size: 3rem;
    }

    .benefit-card {
        margin-bottom: 20px;
    }
    .list-unstyled{
        text-align: center;
        font-size: 1.5rem;
        color: var(--color-secondary);/*testar outras cores no texto*/
        font-weight: bold;
        line-height: 1.7;
        padding: 20px;
        margin: 20px;
        border-radius: 8px;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    }
    .imgvantagens{
          max-width: 200px; /* Verificar o melhor tamanho ao finalizar projeto */
          height: auto;
    }
    .imgsesc{
        max-width: 250px;
        
    }
    
}

/* Tablets e celulares grandes (até 768px) */
@media (max-width: 768px) {
    /* Ajustes para o botão "Pedir Agora" */
    .btm {
        padding-right: 30px;
    }

    /* Ajustes para o banner hero na versão mobile */
    section.custom-hero-banner {
        background: url('img/bannerApp.jpg') no-repeat center center;
        background-size: cover;
        background-position: center;
        height: 48vh;
    }

    .row.beneficios-content .col-6 {
        max-width: 50%;
        padding: 10px;
    }

    .benefit-card {
        margin-bottom: 30px;
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .h2vantagens, .h2beneficios, .maistxt {
        padding: 2rem 0;
    }

    .text-content {
        font-size: 16px;
        line-height: 1.7;
        padding: 20px;
        margin: 20px;
        text-align: justify;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .text-content p {
        margin-bottom: 1.5em;
    }

    .missao-visao-valores .row {
        flex-direction: column;
        align-items: center;
    }

    .missao-visao-valores .col-md-4 {
        margin-bottom: 30px;
        width: 80%;
    }
}

/* Tablets em modo paisagem / Telas médias (até 992px) */
@media (max-width: 992px) {
    /* Ajustes para tablets em modo paisagem e laptops menores */
    .texto-cabecalho {
        font-size: 2.2rem;
    }

    .benefit-card {
        margin-bottom: 25px;
    }

    .missao-visao-valores {
        padding: 40px 0;
    }
}

/* Desktops (até 1200px) */
@media (max-width: 1200px) {
    /* Ajustes para desktops e laptops maiores */
    .texto-cabecalho {
        font-size: 2.4rem;
    }

    .benefit-card {
        margin-bottom: 28px;
    }

    .missao-visao-valores {
        padding: 50px 0;
    }
}

/* Desktops grandes (acima de 1200px) */
@media (min-width: 1200px) {
    /* Ajustes para telas grandes */
    .texto-cabecalho {
        font-size: 2.6rem;
    }

    .benefit-card {
        margin-bottom: 30px;
    }
}
