/* ================================
   Cores Personalizadas
================================ */
:root {
    --color-primary: #06546f;
    --color-secondary: #EAE932;
    --color-white: #f9f9f9;
    --color-text: #333333;

}

/* ================================
   Estilo Geral
================================ */
body {
    background-color: var(--color-white);
    font-family: 'Poppins', Arial, sans-serif;
    padding-top: 100px; /* Ajuste conforme a altura do cabeçalho */
}

/* ================================
   Cabeçalho
================================ */
header {
    background-color: var(--color-primary) ;
    color: var(--color-white) ;
}

.logo {
    max-width: 200px;/* Verificar o melhor tamanho ao finalizar projeto */
    height: auto;
    
}

.btnPeca{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.btnPeca:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    transform: scale(1.1);/* Aumenta o tamanho do botão ao passar o mouse */
}

/* Estilos botão pulsar */

.pulsating-button {
    animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* ================================
   Seção Hero / texto cabeçalho
================================ */
.hero {
    padding: 10px 0;
    background-color:var(--color-primary) ;
    color: var(--color-white);
}

.texto-cabecalho {
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.paragrafo-cabecalho {
    font-size: 1.2rem;
}

.maistxt {
    font-size: 5rem;
    color: var(--color-secondary);

}
.h2vantagens, .h2beneficios{
    font-size: 3rem;
    color: var(--color-primary);
    font-weight: bold;
}

.totaltxt {
    color: var(--color-primary);
}

/* Estilos padrão para desktop */
.benefit-card {
    background-color: #f1e511; /* Cor do fundo dos cards */
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%; /* Garante que todos os cartões tenham a mesma altura */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.benefit-card:hover {
    transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}

.benefit-title {
    color: #06546f; /* Cor do texto */
    font-weight: bold;
    margin: 15px 0 10px;
}

.benefit-text {
    color: #06546f;
    font-size: 14px;
}

.icon-img {
    width: 50px; /* Ajusta o tamanho do ícone */
    margin-bottom: 15px;
}

/* Classe personalizada para o banner */
.custom-hero-banner {
    background: url('img/bannerTotal.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 110vh; /* Defina o vh inicial */
    
}

/* Versão mobile */
@media (max-width: 768px) {
    section.custom-hero-banner {
        background: url('img/bannerApp.jpg') no-repeat center center;
        background-size: cover;
        background-position: center;
        height: 58vh; /* Define uma altura menor para mobile */
    }
}

.row.beneficios-content {
    margin-bottom: 30px; /* Ajuste conforme necessário */
    row-gap: 20px; /* Espaçamento entre as linhas de cards */
}

@media (min-width: 768px) {
    .row.beneficios-content .col-md-4 {
        max-width: 30%; /* Diminuir a largura dos cards para dar mais espaço nas laterais */
        padding: 0 15px; /* Ajuste o padding para controlar o espaçamento lateral */
    }
}
@media (max-width: 768px) {
    .row.beneficios-content .col-6 {
        max-width: 48%; /* Diminua a largura para criar mais espaçamento nas laterais */
        margin: 10px 1%; /* Espaçamento lateral entre os cards */
    }

    .benefit-card {
        margin-bottom: 20px; /* Espaçamento entre os cartões na versão mobile */
        padding: 15px; /* Ajuste o padding para uma melhor estética */
    }
}
